<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="card">
    <h5>Severities</h5>
    <button type="button" pButton pRipple (click)="showSuccess()" label="Success" class="p-button-success"></button>
    <button type="button" pButton pRipple (click)="showInfo()" label="Info" class="p-button-info"></button>
    <button type="button" pButton pRipple (click)="showWarn()" label="Warn" class="p-button-warning"></button>
    <button type="button" pButton pRipple (click)="showError()" label="Error" class="p-button-danger"></button>

    <h5>Positions</h5>
    <button type="button" pButton pRipple (click)="showTopLeft()" label="Top Left"></button>
    <button type="button" pButton pRipple (click)="showTopCenter()" label="Top Center" class="p-button-warning"></button>
    <button type="button" pButton pRipple (click)="showBottomCenter()" label="Bottom Center" class="p-button-success"></button>
    
    <h5>Multiple</h5>
    <button type="button" pButton pRipple (click)="showMultiple()" label="Multiple" class="p-button-warning"></button>
    <button type="button" pButton pRipple (click)="showSticky()" label="Sticky"></button>

    <h5>Clear</h5>
    <button type="button" pButton pRipple (click)="clear()" icon="pi pi-times" label="Clear"></button>

    <h5>Template</h5>
    <button type="button" pButton pRipple (click)="showConfirm()" label="Confirm" class="ui-button-warning"></button>
</div>

<i class="pi pi-check"></i>
<i class="pi pi-times"></i>


<h5>Basic</h5>
<p-button (click)="showBasicDialog()" icon="pi pi-external-link" label="Show"></p-button>
<p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '10vw'}" [baseZIndex]="10000">
    <img src="http://localhost:4200/assets/logoprofile.png" alt="" style="width: 35px;display:block;margin:auto;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBasic=false" label="Yes" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayBasic=false" label="No"></p-button>
    </ng-template>
</p-dialog>